 
<div style="width: 100%; height: 100%; display: flex;">
  <div style="background-color: #6d37da; border: 1px solid #6d37da;margin: auto; border-top-left-radius: 20px; border-top-right-radius: 20px;">
    <div style="display: flex; justify-content: center; color: white; font-family: 'Open Sans', sans-serif; font-weight: bold;">
      <h2>Giriş Yap</h2>
    </div>
    <div style="background-color: white; height: 330px; padding: 30px;">
      <div class="container">
        <div>
          <label for="">E-Posta: </label>
          <input type="email">
        </div>
        <div class="formParola">
          <label for="">Parola: </label>
          <input type="password">
        </div>
        <div style="margin-top: 20px;">
          <label>
            <input type="checkbox" name="remember"> Beni Hatırla
          </label>
          <button type="submit">Giriş Yap</button>
        </div>
        <div style="margin-top: 20px;">
          <a href="#">Kayıt Ol</a>
          <a href="#" style="margin-left: 50px;">Parolanızı Unuttunuz Mu?</a>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

 

<%= render "users/shared/links" %>
