
<% @posts.each do |post| %>
  

    <div class="post">
      <%= link_to post_path(post), class: 'kartIcerik' do %>
      <div class="govdeIcerik">
        <div class="gorselIcerik">
          <%if post.image.attached?%>
            <%=image_tag post.image, style:"width:100%; height:350px; object-fit:cover; border-top-left-radius: 20px; border-top-right-radius: 20px;"%>
          <%else%>
            Fotoğraf Bulunamadı.
          <%end%>
        </div>
          <div class="baslikIcerik">
            <p class="baslikIcerikAlt"><%= truncate(post.title, length: 40)%></p>
          </div>

      </div>
    
    <% end %>
        <div class="footerIcerik">
          <%=link_to "Sepete ekle", add_cart_posts_path(post), style:"color: #6d37da" %>

        </div>
  </div>
  
<% end %>

<!--
<div class="paylas" style="position: fixed; bottom: 0; width: 100%; display: flex;">
  <div class="linkler" style="justify-content: center;">
    
    <%= link_to "http://www.facebook.com/" do %>
        <%= image_tag 'facebook.png' %>
    <% end %> 

    <%= link_to "http://www.twitter.com/" do %>
        <%= image_tag 'twitter.png' %>
    <% end %>

    <%= link_to "https://www.instagram.com" do %>
        <%= image_tag 'instagram.png' %>
    <% end %>

    <%= link_to "https://www.linkedin.com/" do %>
        <%= image_tag 'linkedin.png' %>
    <% end %>

  </div>
</div>
-->
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    function addDarkmodeWidget() {
      new Darkmode().showWidget();
    }
    window.addEventListener('load', addDarkmodeWidget);
  </script> 
  

           