<div class="post-genis ortalaa">
  <div class="denemeee">

    <%if @post.image.attached?%>
      <%=image_tag @post.image, style:"width:100%; height:380px; object-fit:cover"%>
    <%else%>
      foto yok
    <%end%>
  
    <h1>
    <span class="darkmode-ignore"><%= truncate(@post.title, length: 60) %> </span>
    </h1>
    
  </div>
  <p class="content">
    <%= @post.content %>
  </p>
  <p class="content">
    <% if @post.categories.present? %>
      <% @post.categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
      <% end %>
    <% else %>
      Bu yazının kategorisi bulunmamaktadır.
    <% end %>
  </p>

  <br>
  <br>

  <p class="rate">
  <%= form_for(@rate) do |f| %>
    <div  class="ui star rating" data-max-rating="5"> </div>
    <%= f.hidden_field :post_id, value: @post.id %><br>
    <%= f.hidden_field :rate,class:"rate_hidden_field" %><br>
  <% end %>
  <script>
    $('.ui.rating').rating();
    $(".ui.rating .icon").click(function(){
    setTimeout(function (){
      var x = $('.ui.rating').rating('get rating');
      $(".rate_hidden_field").attr("value",x);
      $("#new_rate").submit();
    }, 200);
     

      
    });
  </script>
  
  <%= @post.rates.average(:rate) %><br>

    <div class="center">
    <p class="content">
    
    <%= form_for @comment do |f| %>
      <div class="ui form">
        <div class="fields">

          <div class="field"><%= f.text_field :name, required: true , placeholder: "Ad Soyad" %> </div>
          <div class="field"><%= f.text_field :email, required: true,  placeholder: "E mail" %> </div>

        </div>
          <div class="büyüt">
          
            <div class="field"><%= f.text_area :content, required: true, placeholder: "Yorumunuz" %> </div>
          </div>
      </div>
      <%= f.hidden_field :post_id, value: @post.id %><br>
      <%= f.submit 'Yorum Yap',class: 'button center' %><br>
    <% end %>
  </p>
    
    <div class="center">
 
  
  <% @comments.each do |comment| %>  
    <b><%= comment.name.capitalize %></b>
    <%  if (@now.strftime("%Y").to_i-comment.created_at.strftime("%Y").to_i) != 0%>
          <%=(@now.strftime("%Y").to_i-comment.created_at.strftime("%Y").to_i)%> yıl önce
    <%  elsif (@now.strftime("%m").to_i-comment.created_at.strftime("%m").to_i) != 0 %>
          <%=(@now.strftime("%m").to_i-comment.created_at.strftime("%m").to_i)%> ay önce
    <%  elsif (@now.strftime("%d").to_i-comment.created_at.strftime("%d").to_i) != 0%>
          <%=(@now.strftime("%d").to_i-comment.created_at.strftime("%d").to_i)%> gün oldu
    <%else%>
          Bugün
    <%  end %><br> 
    <%= comment.content %><br>
   
    
  <% end %>
</div>
  
  </div>
  </div>

  <div class="social">
  <%= link_to "http://www.facebook.com/" do %>
      <%= image_tag 'facebook.png' %>
  <% end %> 
  <%= link_to "https://twitter.com/intent/tweet?url=#{@post.title} #{post_url @post.id}" do %>
      <%= image_tag 'twitter.png' %>
  <% end %>
   <%= link_to "https://www.instagram.com" do %>
      <%= image_tag 'instagram.png' %>
  <% end %>
  <%= link_to "https://www.linkedin.com/" do %>
      <%= image_tag 'linkedin.png' %>
  <% end %>
  </div>
 
