
<div class="navbar darkmode-ignore">
  <div class="ortala">
    <div class="logo"><%= image_tag 'iThink.png', :style => "max-width: 190px" %><%= link_to '', root_path %></div>

    <%= form_tag(search_page_path, :method => "get") do %>  
      <div class="ayarr">
      <form class="formm">
          <%= search_field_tag :search, params[:search], placeholder: "Arama yap", class: "formm__field" %>  
          <%= button_tag "Ara", :class => 'btn btn--primary btn--inside uppercase'%>  
        </div>
      
    <% end %>
    
    
    <div class="menu">
    
      <ul>
       <li> <button type="button" style="color: #6d37da", font-size= "10px"><%= link_to "Sepetim #{current_user.current_cart.posts.count}",  cart_index_path%></button>
        <li class="menu-item"><%= link_to 'Anasayfa', posts_path, class: "active" %></li>
        <li class="menu-item"><a href="#">İletişim</a></li>  
      </ul>
    </div>
  </div>



</div>
